  <div class="container d-flex bg-dark m-0 p-0 rounded-1 align-items-center ">
    <div class="col-3">
    <p class="bg-light p-1 m-1 text-center">{{post.team_1}}</p>
    <p class="bg-light p-1 m-1 text-center">VS</p>
    <p class="bg-light p-1 m-1 text-center">{{post.team_2}}</p>
  </div>
  <div class="col-1  text-center">
    <p class="bg-info p-1 m-1">Result :</p>
    <p class="bg-info p-1 m-1">{{post.score}}</p>
  </div>
  <div class="col">
   <p class="bg-info p-1 m-1 fw-bold text-center">Akcije :</p>
   <div class="d-flex flex-row m-1">
   <input class=" bg-light text-dark fw-bold text-center" value="Detalji">
   <input class=" bg-light text-dark fw-bold text-center" value="Odaberi">
  </div>
  </div>
  </div>
